@import "../../styles/utility/mixins";

.our-services {
  padding-top: px-to-rem(60);
  padding-bottom: px-to-rem(107.5);

  @include ctx_tablet {
    padding-top: px-to-rem(35);
    padding-bottom: px-to-rem(35);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-image {
    flex-basis: 50%;
  }

  &__item-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
    padding: 0 px-to-rem(80);

    @include ctx_tablet {
      padding: px-to-rem(30);
    }
  }

  &__item-caption {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(20);
  }

  &__item-text {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(18);
    font-weight: 300;
    margin-top: px-to-rem(20);
  }

  &__item-button-set {
    margin-top: px-to-rem(35);
    text-align: left;
  }

  &__item {
    width: 90%;
    max-width: px-to-rem(1160);
    display: flex;
    margin-top: px-to-rem(90);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    &_right {
      .our-services__item-content {
        align-items: flex-start;
      }

      .our-services__item-text {
        text-align: left;
      }

      @include ctx_mobile(portrait) {
        flex-direction: column;

        .our-services__item-content {
          align-items: center;
        }

        .our-services__item-text {
          text-align: center;
        }
      }
    }

    &_left {
      .our-services__item-content {
        align-items: flex-end;
      }

      .our-services__item-text {
        text-align: right;
      }

      @include ctx_mobile(portrait) {
        flex-direction: column-reverse;

        .our-services__item-content {
          align-items: center;
        }

        .our-services__item-text {
          text-align: center;
        }
      }
    }
  }
}
