@import "../../styles/utility/mixins";

.top-banner {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $prime-color;

  @include ctx_mobile(landscape) {
    height: 81vh;
    margin-top: px-to-rem(57, $font-size-mobile);
  }

  @include ctx_mobile(portrait) {
    height: 90vh;
    flex-direction: column;
    padding: 0;
    margin-top: px-to-rem(57, $font-size-mobile);
  }

  &__part {
    width: 50%;

    @include ctx_mobile(portrait) {
      width: 100%;
      height: 50%;
    }

    &_left {
      display: inline-flex;
      justify-content: flex-end;
    }

    &_right {
      background: url("chunks/top-banner/img/technician-touch-control.jpg") no-repeat center;
      background-size: cover;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: px-to-rem(580);
    height: 100%;
    padding: px-to-rem(55) px-to-rem(165) px-to-rem(55) 7.2917%;
    text-align: left;

    @include ctx_tablet {
      padding-left: 8%;
    }

    @include ctx_mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    @include ctx_mobile(landscape) {
      padding: 0 8%;
    }

    @include ctx_mobile(portrait) {
      padding: 0 4%;
    }
  }

  &__title {
    color: #ffffff;
    font-family: $frutiger-arabic-black;
    text-shadow: px-to-rem(2) px-to-rem(2) px-to-rem(2) rgba(#000000, 0.3);
  }

  &__text {
    color: #ffffff;
    margin-top: px-to-rem(16);
    text-shadow: px-to-rem(2) px-to-rem(2) px-to-rem(2) rgba(#000000, 0.3);

    @include ctx_mobile {
      font-size: px-to-rem(14, $font-size-mobile);
    }
  }

  &__image {
    position: absolute;
    top: px-to-rem(86);
    right: px-to-rem(64);
    width: px-to-rem(156);
    height: px-to-rem(156);

    @include ctx_mobile(portrait) {
      top: auto;
      right: px-to-rem(16, $font-size-mobile);
      bottom: px-to-rem(32, $font-size-mobile);
    }
  }

  &__image-item {
    width: 100%;
    height: 100%;
    animation: image-item-rotation 7s infinite;
    animation-delay: 10s;
    opacity: 0.3;
  }
}

@keyframes image-item-rotation {
  0% {
    transform: rotateZ(0);
  }

  20% {
    transform: rotateZ(0);
  }

  40% {
    transform: rotateZ(90deg);
  }

  60% {
    transform: rotateZ(180deg);
  }

  80% {
    transform: rotateZ(270deg);
  }

  100% {
    transform: rotateZ(359deg);
  }
}
