@import "../../styles/utility/mixins";

.what_s-new {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: px-to-rem(80);

  &__button {
    display: inline-flex;
    margin-left: auto;

    @include ctx_mobile(portrait) {
      width: 100%;
      margin-top: px-to-rem(20, $font-size-mobile);
      margin-left: initial;
      order: 2;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: px-to-rem(40);

    @include ctx_mobile(portrait) {
      margin-top: 0;
    }
  }

  &__item {
    width: 31.0345%;
    border: px-to-rem(1) solid #c8c8c8;
    padding: px-to-rem(20);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
    }

    @include ctx_mobile(portrait) {
      width: 100%;
      margin-top: px-to-rem(15, $font-size-mobile);
    }
  }

  &__item-header {
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: px-to-rem(14);
    line-height: 140%;
  }

  &__item-hashtag {
    margin-right: px-to-rem(15);
  }

  &__item-title {
    color: $secondary-grey;
    cursor: pointer;
    margin-top: px-to-rem(8);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $prime-color;
    }
  }

  &__item-text {
    margin-top: px-to-rem(16);
  }
}
