@import "../../styles/utility/mixins";

.what_s-new {
  background-color: #ffffff;
  margin-top: px-to-rem(80);

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: px-to-rem(40);
  }

  &__item {
    width: 31.0345%;
    border: px-to-rem(1) solid #c8c8c8;
    padding: px-to-rem(20);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
    }
  }

  &__item-header {
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: px-to-rem(14);
    line-height: 140%;
  }

  &__item-hashtag {
    margin-right: px-to-rem(15);
  }

  &__item-title {
    color: $secondary-grey;
    cursor: pointer;
    margin-top: px-to-rem(8);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $prime-color;
    }
  }

  &__item-text {
    margin-top: px-to-rem(16);
  }
}
