// Colors
$prime-color: #cc172b;
$secondary-blue: #98c0de;

// Font size
$font-size-base: 16;
$font-size-tablet: 14;
$font-size-mobile: 12;

// Font families
$frutiger-light-arabic: "FrutigerLTArabic", sans-serif;
$mayeka-light: "Mayeka Light Demo", sans-serif;
$mayeka-regular: "Mayeka Regular Demo", sans-serif;
$mayeka-bold: "Mayeka Bold Demo", sans-serif;

$roboto: Roboto, sans-serif;
