// Colors
$prime-color: #cc172b;
$secondary-blue: #98c0de;

// Font size
$font-size-base: 16;
$font-size-tablet: 14;
$font-size-mobile: 12;

// Font families
$frutiger-arabic-light: "FrutigerLTArabicLight", sans-serif;
$frutiger-arabic-roman: "FrutigerLTArabicRoman", sans-serif;
$frutiger-arabic-bold: "FrutigerLTArabicBold", sans-serif;
$frutiger-arabic-black: "FrutigerLTArabicBlack", sans-serif;

$roboto: Roboto, sans-serif;
