// Colors
$prime-orange: #cc172b;

// Font size
$font-size-base: 16;
$font-size-tablet: 14;
$font-size-mobile: 12;

// Font families
$mayeka-light: "Mayeka Light Demo", sans-serif;
$mayeka-regular: "Mayeka Regular Demo", sans-serif;
$mayeka-bold: "Mayeka Bold Demo", sans-serif;

$roboto: Roboto, sans-serif;
