@import "../../styles/utility/mixins";
/* stylelint-disable no-descending-specificity */

@mixin mobile_menu {
  width: px-to-rem(40, $font-size-mobile);
  height: px-to-rem(40, $font-size-mobile);
  border: px-to-rem(1, $font-size-mobile) solid #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: margin;
  transition: margin 0.5s ease;

  &__logo {
    display: flex;
    min-width: px-to-rem(116);
    width: px-to-rem(143);
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: px-to-rem(15);

    & > li {
      position: relative;
      font-family: $frutiger-arabic-roman;
      color: #999999;
      cursor: pointer;
      font-size: px-to-rem(14);
      line-height: px-to-rem(16);
      padding: px-to-rem(10) px-to-rem(26);
      transition: color 0.3s ease-in-out;
      white-space: nowrap;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: px-to-rem(2);
        content: "";
        background-color: $prime-color;
        border-radius: px-to-rem(5);
        opacity: 0;
        transform: translateY(5px);
        visibility: hidden;
      }

      &:hover {
        &::after {
          animation: menuItemUnderlineHoverAnimation 0.3s linear forwards;
        }
      }

      @include ctx_mobile {
        width: 70%;
        color: #f1f1f1;
        font-size: px-to-rem(17, $font-size-mobile);
        margin-bottom: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transform: translateY(-100%);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include ctx_tablet(portrait) {
      display: none;
    }

    @include ctx_mobile {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 102%;
      height: 102%;
      background: rgba(0, 0, 0, 0.9);
      display: flex;
      flex-direction: column;
      margin-left: 0;
      opacity: 0;
      transform: translateX(100%);
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      pointer-events: none;
    }

    &:hover {
      .header__menu-item {
        color: rgba(0, 0, 0, 0.4);

        &:hover {
          animation: menuItemHoverAnimation 0.5s ease-in-out;
          color: $prime-color;
        }
      }
    }
  }

  &__menu-button_mobile {
    display: none;

    @include ctx_mobile {
      @include mobile_menu();
    }
  }

  &__menu-button-menu,
  &__menu-button-user {
    display: none;

    @include ctx_mobile {
      width: px-to-rem(18, $font-size-mobile);
      height: px-to-rem(18, $font-size-mobile);
      display: block;
    }
  }

  &_opened {
    .header__menu-list {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      pointer-events: all;
    }

    @for $menuItem from 0 through 6 {
      .header__menu-item:nth-child(#{$menuItem + 1}) {
        animation-delay: 0.5s * ($menuItem * 0.3);
      }
    }

    .header__menu-button {
      position: fixed;
      top: px-to-rem(15, $font-size-mobile);
      right: px-to-rem(15, $font-size-mobile);
      z-index: 2;
    }
  }
}
/* stylelint-enable */
@keyframes menuShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes menuItemHoverAnimation {
  0% {
    background-color: rgba(150, 150, 150, 0);
  }

  50% {
    background-color: rgba(150, 150, 150, 0.1);
  }

  100% {
    background-color: rgba(150, 150, 150, 0);
  }
}

@keyframes menuItemUnderlineHoverAnimation {
  0% {
    opacity: 0;
    transform: translateY(px-to-rem(5));
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
