@import "utility/mixins";

.ricoh-button {
  background-color: $prime-color;
  border-radius: px-to-rem(4);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $frutiger-arabic-roman;
  font-size: px-to-rem(18);
  line-height: px-to-rem(35);
  padding: px-to-rem(10.5) px-to-rem(30);
  transition:
    border-radius 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  @include ctx_mobile {
    font-size: px-to-rem(18, $font-size-mobile);
  }

  &:hover {
    background-color: rgba($prime-color, 0.1);
    border-color: lighten($prime-color, 30%) lighten($prime-color, 30%) $prime-color lighten($prime-color, 30%);
    color: $prime-color;
  }

  &_orange {
    background-color: $prime-color;
    color: #ffffff;
  }

  &_red {
    position: relative;
    min-width: px-to-rem(260);
    height: px-to-rem(50);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px-to-rem(7) px-to-rem(20);

    &::after {
      width: 24px;
      height: 24px;
      content: "";
      background: url("/assets/icon-chevron-right.svg") no-repeat center;
    }

    &:hover {
      background-color: #ba0f26;
      color: #ffffff;
    }

    @include ctx_mobile {
      height: px-to-rem(50, $font-size-mobile);
    }
  }

  &_transparent {
    color: $prime-color;
  }
}
