@import "utility/mixins";

.ricoh-app-text-item {
  width: 45.5285%;
  max-width: px-to-rem(560);
  border: 1px solid #c8c8c8;
  cursor: pointer;
  display: flex;
  padding: px-to-rem(20);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    background-color: #f2f2f2;
    border-color: transparent;
  }

  @include ctx_mobile {
    width: 100%;
  }

  &__image {
    min-width: px-to-rem(77);
    width: px-to-rem(77);
    height: px-to-rem(77);
    display: flex;
    align-items: center;
    justify-content: center;

    &_green-bg {
      background-color: rgba(16, 194, 92, 0.1);
    }

    &_blue-bg {
      background-color: rgba(58, 147, 229, 0.1);
    }

    &_grey-bg {
      background-color: rgba(48, 50, 51, 0.1);
    }

    &_red-bg {
      background-color: rgba(204, 23, 43, 0.1);
    }
  }

  &__image-icon {
    width: px-to-rem(31);
    height: px-to-rem(31);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: px-to-rem(20);
  }

  &__title {
    color: $secondary-grey;
    font-family: $frutiger-arabic-bold;
    font-size: px-to-rem(18);
    line-height: 140%;
  }

  &__text {
    color: #999999;
    font-size: px-to-rem(16);
    line-height: 140%;
    margin-top: px-to-rem(8);
  }
}
