@import "utility/mixins";

.ricoh-h2 {
  font-family: $frutiger-arabic-black;
  font-size: px-to-rem(48);
  line-height: 140%;
}

.ricoh-h4 {
  font-family: $frutiger-arabic-bold;
  font-size: px-to-rem(18);
  line-height: 140%;
}

.ricoh-text {
  color: $secondary-grey;
  font-weight: 400;
  font-size: px-to-rem(18);
  line-height: 140%;
}
