@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

@font-face {
  font-family: mayeka-regular-demo;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.regular-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.regular-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.regular-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-thin-demo;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-light-demo;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-demi-bold-demo;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-bold-demo;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("truetype");
}

@font-face {
  font-family: BebasNeue;
  src:
    url("https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Regular.eot") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Regular.woff") format("woff2"),
    url("https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Regular.woff") format("woff"),
    url("https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue-Regular.ttf") format("truetype");
}
