@font-face {
  font-family: FrutigerLTArabicLight;
  src:
    url("/styles/fonts/FrutigerLTArabic-45Light.eot") format("embedded-opentype"),
    url("/styles/fonts/FrutigerLTArabic-45Light.woff2") format("woff2"),
    url("/styles/fonts/FrutigerLTArabic-45Light.woff") format("woff"),
    url("/styles/fonts/FrutigerLTArabic-45Light.ttf") format("truetype");
}

@font-face {
  font-family: FrutigerLTArabicRoman;
  src:
    url("/styles/fonts/FrutigerLTArabic-55Roman.eot") format("embedded-opentype"),
    url("/styles/fonts/FrutigerLTArabic-55Roman.woff") format("woff2"),
    url("/styles/fonts/FrutigerLTArabic-55Roman.woff") format("woff"),
    url("/styles/fonts/FrutigerLTArabic-55Roman.ttf") format("truetype");
}

@font-face {
  font-family: FrutigerLTArabicBold;
  src:
    url("/styles/fonts/FrutigerLTArabic-65Bold.eot") format("embedded-opentype"),
    url("/styles/fonts/FrutigerLTArabic-65Bold.woff") format("woff2"),
    url("/styles/fonts/FrutigerLTArabic-65Bold.woff") format("woff"),
    url("/styles/fonts/FrutigerLTArabic-65Bold.ttf") format("truetype");
}

@font-face {
  font-family: FrutigerLTArabicBlack;
  src:
    url("/styles/fonts/FrutigerLTArabic-75Black.eot") format("embedded-opentype"),
    url("/styles/fonts/FrutigerLTArabic-75Black.woff") format("woff2"),
    url("/styles/fonts/FrutigerLTArabic-75Black.woff") format("woff"),
    url("/styles/fonts/FrutigerLTArabic-75Black.ttf") format("truetype");
}
