@import "../../styles/utility/mixins";

%footer-title {
  font-family: $frutiger-arabic-roman;
  font-size: px-to-rem(20);
}

%footer-text {
  font-family: $roboto;
  font-size: px-to-rem(18);
  font-weight: 300;
}

.footer {
  background-color: #f3f3f3;
  margin-top: px-to-rem(80);
  padding-top: px-to-rem(24);
  padding-bottom: px-to-rem(24);

  @include ctx_mobile(portrait) {
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__menu-item {
    border-right: 1px solid #dedede;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.2;
    padding: px-to-rem(4) px-to-rem(16);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:first-child {
      border-left: 1px solid #dedede;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;

    &:hover {
      .footer__menu-item {
        color: rgba(#666666, 0.5);

        &:hover {
          background-color: #dedede;
          color: $prime-color;
        }
      }
    }
  }

  &__go-to-top-icon {
    width: px-to-rem(24);
    height: px-to-rem(24);
    margin-right: px-to-rem(10);
    transition: transform 0.3s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  }

  &__go-to-top {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    color: #666666;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    margin-left: auto;
    padding: 0 px-to-rem(16);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    white-space: nowrap;

    &:hover {
      background-color: #dedede;
      color: $prime-color;

      .footer__go-to-top-icon {
        transform: translateY(-10%);
      }
    }
  }

  &__copyright {
    width: 100%;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: px-to-rem(12);
    margin: px-to-rem(16) auto 0;
    padding: 0 px-to-rem(8) 0 0;
  }
}

.shake {
  animation: shake-animation 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake-animation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
