.sign-up {
  width: 100%;
  padding: 5% 6.6667% 5% 0;

  @include ctx_mobile {
    padding: 5% 4%;
  }

  &__input-item {
    display: flex;
    margin-top: px-to-rem(20);

    @include ctx_mobile(portrait) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__textarea {
    margin-top: px-to-rem(20);

    @include ctx_mobile {
      margin-top: px-to-rem(20, $font-size-mobile);
    }
  }

  &__input {
    flex-basis: 50%;

    &:first-child {
      padding-right: px-to-rem(10);
    }

    &:last-child {
      padding-left: px-to-rem(10);
    }

    @include ctx_mobile(portrait) {
      margin-top: px-to-rem(16, $font-size-mobile);

      &:first-child {
        padding-right: 0;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }

  &__sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px-to-rem(20);
  }

  &__sign-up-link {
    font-size: px-to-rem(14);
    color: #2c4251;

    @include ctx_mobile {
      font-size: px-to-rem(14, $font-size-mobile);
    }
  }

  &__sing-up-bold {
    font-family: $frutiger-arabic-bold;
    padding-left: px-to-rem(10);
  }

  &__button {
    margin-top: px-to-rem(20);

    @include ctx_mobile {
      margin-top: px-to-rem(20, $font-size-mobile);
    }
  }
}
