@import "../../styles/utility/mixins";

.our-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: px-to-rem(107.5);
  padding-bottom: px-to-rem(60);

  @include ctx_tablet {
    padding-top: px-to-rem(35);
    padding-bottom: px-to-rem(35);
  }

  &__content {
    width: 70%;
    max-width: px-to-rem(1070);
    display: flex;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_tablet(portrait) {
      width: 90%;
    }

    @include ctx_mobile(landscape) {
      width: 90%;
    }

    @include ctx_mobile(portrait) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-item,
  &__description {
    flex-basis: 50%;
  }

  &__image-item {
    @include ctx_mobile(portrait) {
      max-width: 60%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: px-to-rem(70) px-to-rem(30) 0 px-to-rem(80);

    @include ctx_tablet {
      padding: px-to-rem(35) 0 px-to-rem(35) px-to-rem(50);
    }

    @include ctx_mobile(portrait) {
      align-items: center;
      padding-left: 0;
    }
  }

  &__caption {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(20);
  }

  &__text {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(18);
    font-weight: 300;
    margin-top: px-to-rem(20);
    text-align: left;

    @include ctx_mobile(portrait) {
      text-align: center;
    }
  }

  &__button-set {
    margin-top: px-to-rem(35);
  }
}
