@import "reset-css";
@import "./styles/index";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* stylelint-disable declaration-no-important */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* stylelint-enable */

.application__navigation {
  background-color: $secondary-grey;
}

.js_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  margin: px-to-rem(33) 0;
  padding: px-to-rem(10) 0;

  &_active {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 px-to-rem(5) px-to-rem(3) rgba(0, 0, 0, 0.3);
    margin: 0;
    transition:
      margin 100ms ease-in-out,
      box-shadow 300ms ease-in-out,
      background-color 300ms ease-in-out;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
