@import "../../styles/utility/mixins";

.contact-us {
  margin-top: px-to-rem(120);

  @include ctx_tablet {
    margin-top: px-to-rem(40);
  }
  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 80%;
    max-width: px-to-rem(800);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_mobile(portrait) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__form-label {
    flex-basis: 48%;

    @include ctx_mobile(portrait) {
      margin-top: px-to-rem(20, $font-size-mobile);
    }
  }

  &__form-input {
    width: 100%;
  }

  &__form-textarea {
    min-height: px-to-rem(100);
    border: px-to-rem(1) solid $prime-orange;
    flex-basis: 100%;
    font-family: $mayeka-light;
    margin-top: px-to-rem(30);
    padding: px-to-rem(5) px-to-rem(15);
  }

  &__form-button-set {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: px-to-rem(50);
  }

  &__maps {
    display: flex;
    margin-top: px-to-rem(120);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_mobile(portrait) {
      flex-direction: column;
    }
  }

  &__maps-item {
    position: relative;
    width: 33.3333%;
    height: px-to-rem(400);
    flex-basis: 33.3333%;
    margin-left: px-to-rem(5);

    &::after {
      position: absolute;
      bottom: px-to-rem(10);
      left: 50%;
      z-index: 1;
      background-color: rgba(#ff9900, 0.5);
      box-shadow: rgba(0, 0, 0, 0.3) 0 px-to-rem(1) px-to-rem(4) px-to-rem(-1);
      border-radius: px-to-rem(2);
      content: attr(data-location);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      padding: px-to-rem(5) px-to-rem(10);
      transform: translate(-50%, -50%);
    }

    &:first-child {
      margin-left: 0;
    }

    @include ctx_mobile(portrait) {
      width: 100%;
      height: 30vh;
      margin-left: 0;
      margin-top: px-to-rem(5, $font-size-mobile);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__maps-iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
